/**
 * Based on copy and paste from Prism.js, tweaked for colours 
 *
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */

code[class*='language-'],
pre[class*='language-'] {
  color: hsl(203,10%,22%);
  background: none;
  font-family: Menlo, Consolas, Monaco, Liberation Mono,
    Lucida Console, monospace; /* system */
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.618;
  font-size: 0.8rem; /* optically aligned to 1rem in body text */

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  position: relative;
  margin: 0.5em 0;
  /* border: 2px solid hsl(206, 61%, 40%); */
  overflow: visible;
  padding: 0;
}

code[class*='language'] {
  max-height: inherit;
  height: 100%;
  padding: 0 1em;
  display: block;
  overflow: auto;
}

/* Margin bottom to accommodate shadow */
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: hsl(201, 14%, 94%);
  padding: 1.618rem 0.618rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  position: relative;
  padding: 0.2em;
  color: hsl(206, 61%, 40%);
  background: hsl(201, 14%, 94%);
  border-radius: 2px;
  font-size: 0.8rem;
  border: 1px solid hsl(201, 14%, 94%);
  display: inline;
  white-space: normal;
}

pre[class*='language-']:before,
pre[class*='language-']:after {
  content: '';
  z-index: -2;
  display: block;
  position: absolute;
  bottom: 0.75em;
  left: 0.18em;
  width: 40%;
  height: 20%;
  max-height: 13em;
}

:not(pre) > code[class*='language-']:after,
pre[class*='language-']:after {
  right: 0.75em;
  left: auto;
}


.token.keyword {
  color: hsl(207, 84%, 24%);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.property,
.token.function-name,
.token.constant,
.token.class-name {
  color: hsl(206, 61%, 40%);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.punctuation,
.token.cdata {
  color: hsl(208, 1%, 53%);
}

.token.operator {
  color: hsl(049, 96%, 42%);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.tag,
.token.symbol,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.deleted {
  color: hsl(110, 97%, 20%);
}

.token.regex,
.token.number,
.token.important {
  color: hsl(008, 92%, 31%);
}

.token.important {
  font-weight: normal;
}

.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.namespace {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  pre[class*='language-']:before,
  pre[class*='language-']:after {
    bottom: 14px;
    box-shadow: none;
  }
}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: hsl(206, 61%, 40%);
}

/* Plugin styles: Line Numbers */
pre[class*='language-'].line-numbers {
  padding-left: 0;
}

pre[class*='language-'].line-numbers code {
  padding-left: 3.8em;
}

pre[class*='language-'].line-numbers .line-numbers-rows {
  left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*='language-'][data-line] {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
pre[data-line] code {
  position: relative;
  padding-left: 4em;
}
pre .line-highlight {
  margin-top: 0;
}
